@tailwind base;
@tailwind components;
@tailwind utilities;
.bg1{
    background-image: url(./imageOfAhmad/image\ copy.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.azizov1{
    border-top-color: #00C65E;
    border-top-width: 7px;
}
.azizov2{/* Ellipse 12 */
    background: linear-gradient(229.62deg, #00C65E 11.68%, #CCEFDB 68.5%);
}
